<%- include('./partials/header') %>
<h1><%= title %></h1>

<h2>"Museums are wormholes to other worlds."-Jerry Saltz"
  </h2>

<style>
body{
  background-image: url('https://imgur.com/a/dBgA2a0')
}
</style>

<%- include('./partials/footer') %>
