<%- include('./partials/header') %>
<h1><%= title %></h1>
<h2>A museum diretory to add new recommendations, read and add reviews for future visitors to read.</h2>

<%- include('./partials/footer') %>
