/* ---MAIN PAGE--- */
.main-index, .second-part{
  font: 96px  "MADE Cannes";
  font-variant: small-caps;
  font-weight: bold;
  color:yellow;
  padding-bottom:400px;
  padding-top:400px;
  padding-left: 100px;
 
}
.main-page{
  background-image:url(hall.png);
  background-size: cover;
  height:100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}
.enter-tab {
text-align: center;
}
.new-page {
  margin-top: 100px; 
  background-color: black;
  font:36px "MADE Cannes" ;
  /* padding-top:20px; */
  margin:150px;
}

.navbar {
  overflow: hidden;
  position:fixed;
  top: 0;
  width:100%
}
.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.navbar a:hover {
  background: teal;
  color: black;
}
  
.show-page {
  margin-top: 100px; 
  background-color: black;
  font:36px "MADE Cannes" ;
  /* padding-top:20px; */
  margin:150px;
}
#table {
  color:white;
  font-size: 48px;
}

#list {
  font-family: Arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  color:white;
  font-size: 22px;
}


#list td, #list th {
  border: 1px solid #ddd;
  padding: 8px;
}

#list tr:nth-child{background-color:teal;}

/* #list tr:hover {background-color: white;} */

#list th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color:teal;
  color: white;
}

#show-list {
  font-family: Arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  color:white;
  font-size: 22px;
}

#show-list td, #show-list th {
  border: 1px solid #ddd;
  padding: 8px;
}

#show-list tr:nth-child{background-color:teal;}

#show-list tr:hover {background-color: teal;}

#show-list th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color:Teal;
  color: white;
}


.add-tour-form {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}



.login {
  margin:0
}

.login img {
  height: 20px;
}
#show-page {
  margin: 0 0 2rem;
  padding: 0;
  list-style: none;
}

 #add-review-form {
  width: 100%;
  /* padding: 12px 20px; */
  margin: 5px 0;
  box-sizing: border-box;
}
#add-review-form input[type="submit"]{
  width: 25%;
  background-color: teal;
  color: white;
  padding: 14px 10px;
  margin: 5px 0;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

