body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: black;
 color:white;
}

body > nav {
  grid-area: nav;

  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px 0 30px;
  
}

nav a {
  line-height: 3rem;
  padding: 0 1rem;
  text-transform: uppercase;
  text-decoration: none;
  color:white;
  
}
/* nav > a {
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
} */
a {
  color: black;
}
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 20px;
}