body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: black;
  color:white;
}
.information {
  color:white
}
.topnav {
  position: relative;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav-centered a {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: teal;
  color: white;
  border-radius: 20%;
}
.topnav a:hover {
  background-color: teal;
  color: white;
  border-radius: 60%;
}
.topnav-right {
    float: right;
    display: block;
  }
  
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 20px;
}
#show-page {
  
  margin: 0 0 2rem;
  padding: 0;
  list-style: none;
}
  
/* #show-page li {
  font-weight: bold;
} */
#add-review-form {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;


  box-sizing: border-box;
}

#add-review-form input[type="submit"]{
  width: 50%;
  background-color: teal;
  color: white;
  padding: 14px 20px;
  margin: 5px 0;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}
