<%- include('../partials/header') %>

<form id="add-tour-form" action="/tours/new" method="POST">
  <label>Tickets:</label>
  <select input type="text" name="ticket">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>  

  <label>Date:</label>
   <input type="datetime-local" id="date" name="date"
   value="2023-05-31T00:00"
      min="2023-05-31T00:00" max="2420-12-31T00:00">

   <button type="submit" value="Add Tour">Reserve Tour</button>
</form>


   <%- include('../partials/footer') %>