<%- include('../partials/header') %>

<header><a href="/">HOME</a></header>
<br>
<h2>Add new museum recommendation </h2>

<form id="new-form" action="/museums" method="POST">
  <br>
  <label>Title:<br><input type="text" name="title">
</label><br>
<label>
  Location:<br><input type="text" name="location">
</label><br>
  <button type="submit">Add Museum</button>
</form>

<%- include('../partials/footer') %>

